/* Plain tags first */

h1 {
    font-family: "Georgia", serif;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

h2 {
    font-family: "Arial", sans-serif;
    text-weight: bold;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

h3, h4, h5 {
    font-family: "Arial", sans-serif;
    text-align: left;
    padding: 1rem 0 1rem 1rem; /* Some left indenting */
}


p {
    font-family: "Arial", sans-serif;
    padding: 0 1rem 0.5rem 1rem;
    text-indent: 2em;
}


nav {
    font-family: "Georgia", serif;
}

/* Override plain tags with IDs, classes, etc. */

#LinksAndResources {
    background-image: linear-gradient(to bottom, #EEE, white);
    padding: 0.8rem;
}

#LinksAndResources > p {
    text-indent: 0;
}

#LinksAndResources > h2, #LinksAndResources > h3 {
    color: #333;
}

.abstract {
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.abstract > p {
    font-family: "Georgia", serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.abstract > hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.blurb-box {
    background-color: #F0F8FF;
    padding: 1rem;
}


.my-nav {
    padding: 4rem 1rem 4rem 1rem; /* Be nice to the HD monitor ppl */
}

#footer {
    background: white;
}
