#title-splash {
    color: navy;
    font-size: 300%;
    font-weight: lighter;
}

span.term {
    font-weight: bold;
}

span.term[lang="fr"] { 
    font-family: 'Libre Baskerville', serif;
}
    
blockquote {
    padding: 1rem;
    background-color: #f8f8ff; 
}
