/* Styling for examples sentences and glosses*/
div.example {
    background: #EFEFEF;
    border-radius: 2.5px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}
div.example p[lang="la"] {
    font-family: "Times New Roman";
    font-size: 150%;
    margin-bottom: 2px;
}

div.example p.gloss {
    font-style: italic;
    margin-bottom: 0.25rem;
}

span.example_word {
    font-weight: bold;
    color: navy;
}

span[lang="la"] {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}