.ko-text {
    font-family: Times;
    color: #800000;
}

.highlighted {
    background-color: #ffcc99;
    padding: 3px;
    border-radius: 5px;
}

.caption {
    padding-left: 1rem;
    margin-bottom: 2rem;
}

h1, h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.word-wrap-right {
    float: left;
    padding-right: 2rem;
}
